@import url("reset.css");

@font-face {
    font-family: Macondo;
    src: url(Macondo-Regular.ttf);
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: Macondo;
    color: #3b372e;
    background-color: #729772;
}


.card {
    padding: 2rem;
    margin: 2rem auto;
    border: 8px double #4f4b3e;
    border-radius: 0.25rem;
    width: 100%;
    background-image: url(images\cabbage-background.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    padding: 2rem;
    margin: 2rem auto;
    background-color: #747063;
    border-radius: 1rem;
    width: 100%;
}

.contact-info {
    padding: 2rem;
    margin: 2rem auto;
    background-color: #93b393;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.company-info {
    padding: 2rem;
    margin: 2rem auto;
    background-color: #93b393;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 50%;
}

.name {
    font-size: 1.7rem
}

.title {
    font-style: italic;
}

.phone {

}

.company-name {
    font-weight: bold;
    font-size: 1.3rem;
}

.slogan {
    font-style: italic;
}

@media (min-width: 500px) {

.info-container {
    display: flex;
}

.contact-info {
    margin: 1rem;
}

.company-info {
    margin: 1rem;
}

}

@media (min-width: 768px) {

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
    }
   
    .img-container {
        display: flex;
        justify-content: flex-start;
        margin: 1rem;
   }
   
    .info-container {
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
    }
    
    .contact-info {
        margin: 1rem;
    }
    
    .company-info {
        margin: 1rem;
    }

}